.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .nav-collapse.collapse
          %ul.nav
            %li
              %h3
                = link_to "BiggerLemur", root_path
